.footor {
  background-image: url(../assets/footor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: auto;
}
.text-footor p,
.icon-so {
  display: flex;
  align-items: flex-start;
  width: 200px;
  color: rgba(30, 30, 30, 0.5);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text-footor h2 {
  color: #141414;
  font-family: Lato;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 28.8px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.btnss {
  margin-left: 30px;
}
.bn45 {
  width: 170px;
  height: 50px;
  /* margin-top: 30px; */
}
.bn46 {
  width: 150px;
  height: 50px;
}
.all {
  padding: 150px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  align-items: center;
  place-items: center;
}
.icon-so {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.FaFacebook {
  font-size: 3rem;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px;
}

ul li {
  list-style: none;
  color: #141414;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 28.8px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
@media only screen and (max-width: 1024px) {
  .all {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    align-items: center;
    place-items: center;
    gap: 30px;
    padding: 10px 0;
  }
  .text-footor h2 {
    font-size: 18;
  }
  .text-footor p,
  .icon-so {
    font-size: 15;
  }
  ul li {
    font-size: 16px;
  }
  .btnss {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 444px) {
  .all {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    align-items: center;
    place-items: center;
    gap: 30px;
    padding: 10px 0;
  }
  .text-footor h2 {
    color: #fff;
    font-size: 30px;
  }
  ul li {
    font-size: 18px;
  }
  .bn45 {
    width: 100px;
    height: 50px;
    /* margin-top: 30px; */
  }
  .bn46 {
  width: 100px;
    height: 50px;
  }
}
